<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wingspan</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  <meta charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<!-- Loop over each object in the projects array -->

<h1 id="header">Tech Thoughts</h1>

<div class="row">
{{#each posts as |post|}}
  <div class="col col-sm-12">
    
    <div class="card" id="card-size">
      <div class="card-body">
        <h5 class="card-title" style="padding: 10px">{{post.name}}</h5>
        

        <p class="card-text" id="text-cutoff" style="padding: 10px">{{post.description}}</p>
         <a id="card-link" style="padding: 10px" href="/posts/{{post.id}}">View Full Post and Comments</a>
      </div>
      <div class="card-location border">
        <p class="card-text" style="padding: 14px" id="location"><small class="text-muted">Posted by {{user.name}} on {{format_date date_created}} </small></p>
      </div>
    </div>
  </div>
{{/each}}
</div>




